FLASK_ENV=development
FLASK_DEBUG=True

# Google Earth Engine
# Run 'earthengine authenticate' to set up GEE credentials
# Run 'earthengine set_project YOUR_PROJECT_ID' to register project
GEE_PROJECT_ID=your-project-id-here
